################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NarachiFront/node_modules/node-sass/vendor/win32-x64-72
