<div class="middle-box text-center loginscreen  animated fadeInDown">
  <div class="contact-box">
    <a class="row" href="profile.html">
      <div class="col-4">
        <div class="text-center">
          <img alt="image" class="rounded-circle m-t-xs img-fluid" src="{{Usuario.Avatar}}" width="120" height="120" style="border-radius: 50%">
          <div class="m-t-xs font-bold">Administrador</div>
        </div>
      </div>
      <div class="col-8">
        <h3><strong>{{Usuario.Nombre + ' ' + Usuario.Apellido}}</strong></h3>
        <p><i class="fa fa-envelope"></i> {{Usuario.Correo}}</p>
        <address>
          <strong>Miembros desde</strong><br>
          {{transformFecha(Usuario.FechaCreacion)}} ({{getAgeByDate(Usuario.Edad)}})

        </address>
      </div>
    </a>
  </div>
</div>
