<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()" style="background-color: #2f4050; border: #2f4050"><i class="fa fa-bars"></i> </a>
    
    </div>
    <ul class="nav navbar-top-links navbar-right">
      
      <li dropdown *ngIf="Usuario.Privilegio > 1">
       
          <a dropdownToggle>
            <!--<span class="block m-t-xs"> <strong class="font-bold">{{Usuario.Nombre + ' ' + Usuario.Apellido}}</strong> </span>-->
            <i class="fas fa-briefcase"></i>
          </a>
          <ul class="animated fadeInDown dropdown-menu" *dropdownMenu>
            <li><a> <i class="fas fa-users"></i> Usuarios</a></li>
            <li><a [routerLink]="['/administration/champions']"> <i class="fas fa-star"></i> Campeones</a></li>
            <li><a [routerLink]="['/administration/records']"> <i class="fas fa-book-reader"></i> Registros</a></li>
            <li><a [routerLink]="['/administration/records']"> <i class="far fa-newspaper"></i> Publicaciones</a></li>
          </ul>
      </li>

      <li>
        <a (click)="logOut()">
          <i class="fas fa-door-closed"></i> 
        </a>
      </li>
    </ul>

  </nav>
</div>
